*{
    margin:0;
    border:0;
}

html{
    background-color: antiquewhite;
}

input{
    font-size: 2rem;
    margin: 10px;
}

button{
    margin-top: 20px;
    font-size: 2rem;
}

exibicao{
    font-family: 'Karla', sans-serif;
    font-size: 20rem;
}
